/*---------------------------------------------- Custom Colors --------------------------------------------------------*/
:root {
    --darknavy: #00100F;
    --darknavyshadow:rgba(0, 16, 15, 0.95);
    --darknavytransparent:rgba(0, 16, 15, 0.75);
    --navy: #072F2E;
    --navytransparent: rgba(7, 47, 46, 0.5);
    --darkcyan: #017481;
    --cyan: #0092A2;
    --cyantransparent: #0092a277;
    --neoncyan: #00e5ff;
  }

/*---------------------------------------------- Placeholder text color ----------------------------------------------*/
::placeholder {
    color: var(--navytransparent);
    opacity: 1;
  }

/*---------------------------------------------- CSS Reset -----------------------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

textarea:focus, input:focus{
    outline: none;
}

/*---------------------------------------------- Background ----------------------------------------------------------*/
body {
    background: linear-gradient(360deg, var(--darknavyshadow) 30%, #00000000 100%), url('../images/sky.jpg'); /*photo is public domain by Philip Myrtorp on Unsplash*/
    background-attachment: fixed; /* allows gradient to fill page */
    background-size: cover;
}

#ls_page {
    display: flex;
    height: 100%;
    width: 100%;
}

/*---------------------------------------------- Top Navigation Bar ------------------------------------------------------*/

#m_nav_bar {
    width: 100%;
    height: 11vh;
    background-color: var(--darknavy);
    display: block;
}

.m_nav_text {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}

#m_nav_wordle {
    width: 20.9%;
    height: 80%;
    text-align: center;
    margin-left: 25%;
    display: inline-block;
}

#m_nav_connect4 {
    width: 20.9%;
    height: 70%;
    text-align: center;
    margin-left: 15%;
    display: inline-block;
}

#m_nav_profile {
    width: 13%;
    height: 70%;
    text-align: right;
    margin-right: 1%;
    float: right;
    margin-top: 1.5%;
    display: block;
}

#m_profile_bio {
    color: gray;
}

#m_wordle_hs_label, #m_connect4_hs_label {
    font-size: 20px;
    padding-top: 5%;
}

#m_wordle_hs, #m_connect4_hs {
    font-size: 15px;
    padding-top: 5px;
}

/*---------------------------------------------- Game Selection ------------------------------------------------------*/

.m_card {
    width: 20.9%;
    height: 60vh;
    background-color: white;
    display: block;
    position: relative;
    margin-left: 25%;
    margin-top: 12vh;
    border-width: 10px;
    border-image-slice: 1;
    border-image-source: linear-gradient(360deg, var(--cyan) 10%, var(--darknavy) 50%);
    border-style: solid;
    float: left;
    cursor: pointer;
    transition: ease 0.3s;
}

.m_card:hover {
    box-shadow: 1px 1px 10px 0 var(--neoncyan);
    transform: translate(1%, 4%);
    
}

.m_card .glow-wrap{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    margin-top: -10px;
  }
.m_card .glow{
    display: block;
    position:absolute;
    width: 80%;
    height: 200%;
    background: rgba(0, 213, 255, 0.34);
    top: 0;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

.m_card:hover .glow{
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

.m_card:hover img,
.m_card:hover .glow-wrap{
  margin-top: 0;
}

#m_wordle_card_img, #m_connect4_card_img {
    position: absolute;
    display: block;
}

#m_connect4_card {
    margin-left: 15%;
}


/*---------------------------------------------- Nav Bar -------------------------------------------------------------*/
  
  .navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: #282828;
    transition: 200ms ease;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: #00e5ff;
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: 600ms;
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: #017481;
  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .nav-link svg {
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  .navbar:hover {
    width: 16rem;
  }
  
  .navbar:hover .link-text {
    display: block;
  }
  

