*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    display: flex;
    background-color: black;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    margin-left: 5rem;
    padding: 1rem;
    transition: 0.5s;
    padding: 20px;
}